* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: #00000097;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-family: Serif;
    text-align: center;
    padding: 10px;
    color: #0000009d;
}

.shrink {
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

h1 .span {
    font-size: 5rem;
    color: #ffffffcc;
}

.shrink1 {
    animation-name: shrink1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    50% {
        opacity: 0;
        font-size: 2rem;
        text-align: center;
    }
    51% {
        opacity: 0;
        text-align: left;
    }

    100% {
        text-align: left;
        font-size: 1rem;
        opacity: 1;
    }
}

@keyframes shrink1 {
    50% {
        opacity: 0;
        font-size: 5rem;
        text-align: center;
    }
    51% {
        opacity: 0;
        text-align: left;
    }
    100% {
        text-align: left;
        font-size: 1rem;
        opacity: 1;
    }
}

.details {
    font-family: Monospace;
    color: #0000009d;
    font-weight: 700;
    padding: 20px;
    padding-inline: 15px;
    line-height: 1.2rem;
    max-width: 65ch;
}

hr {
    height: 2px;
    background-color: #ffffffcc;
}

.hideDetails {
    animation-name: hideDetails;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes hideDetails {
    95% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.alert {
    font-family: serif;
    color: #ffffffcc;
    padding: 5px;
    text-shadow: 1px 3px 2px #0000009d;
}

.container {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 20px 0;
}

.child {
    background: green;
    width: 120px;
    height: 120px;
    border: 5px solid #000000ff;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0 0 6px 0.5px #ffffffcc;
}
.child:nth-child(2) {
    background: red;
}
.child:nth-child(3) {
    background: yellow;
}
.child:nth-child(4) {
    background: blue;
}

.flash {
    opacity: 0.1;
}
main {
    display: grid;
    place-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.hideMain {
    display: none;
}

.showMain {
    animation-name: showMain;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes showMain {
    from {
        display: grid;
        opacity: 0;
    }
    to {
        display: grid;
        opacity: 1;
    }
}

.start {
    font-family: Serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0.5px solid #00000099;
    outline-offset: 3px;
    background: transparent;
    box-shadow: 0 0 4px 2px #222;
    margin: 20px 0 20px 0;
    color: #ffffffcc;
    transition: all 300ms ease;
}

.start:hover {
    padding: 11px 21px;
    letter-spacing: 1px;
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 0 3px 0.5px #222;
}

.btnParent {
    width: 100%;
    display: grid;
    place-content: center;
}

.banner {
    width: clamp(200px, 50vw, 350px);
    height: 40px;
    outline: 2px solid #00000097;
    outline-offset: 4px;
    margin: 25px 0 15px 0;
    border-radius: 5px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff99;
    font-family: Georgia;
    font-weight: 900;
    font-size: 1.1rem;
    box-shadow: 0 0 3px 2px #000;
}

.figures {
    border-left: 2px solid #00000077;
    height: 35px;
    padding-left: 15px;
    display: grid;
    place-content: center;
}

.controls button {
    background: transparent;
    outline: 0;
    border: 0;
    color: #ffffffcc;
    font-family: Georgia;
    font-weight: 700;
    box-shadow: 1.5px 1px 5px 1px #222;
    border-radius: 2px;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 0.95rem;
}

.controls button:hover {
    animation: border 500ms ease forwards;
}

@keyframes border {
    25% {
        border-right: 3px solid #ffffff99;
    }
    50% {
        border-right: 3px solid #ffffff99;
        border-bottom: 3px solid #ffffff99;
    }
    75% {
        border-right: 3px solid #ffffff99;
        border-bottom: 3px solid #ffffff99;
        border-left: 3px solid #ffffff99;
    }
    100% {
        border: 3px solid #ffffff99;
    }
}

#restart {
    display: none;
}

.imageHolder img {
    width: clamp(250px, 70vw, 800px);
}

.imageHolder {
    display: grid;
    place-items: center;
}

footer {
    font-family: Monospace;
    color: #ffffffcc;
    margin-top: auto;
}

@media only screen and (min-width: 800px) {
    .span {
        font-size: 7rem;
        letter-spacing: 4px;
    }

    h1 {
        margin-bottom: 2rem;
        margin-top: 2rem;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    .details {
        padding: 35px 0;
        font-size: 1.2rem;
        line-height: 1.5rem;
        word-spacing: 3px;
        margin-inline: auto;
    }

    .start {
        font-size: 1.1rem;
        padding: 15px 30px;
        border-radius: 5px;
        outline: 0.5px solid #00000099;
        outline-offset: 3px;
        background: transparent;
        box-shadow: 0 0 4px 2px #222;
        margin-top: 40px;
    }

    .banner {
        height: 50px;
        font-size: 1.3rem;
    }
    .figures {
        height: 35px;
        padding-left: 50px;
        display: grid;
        place-content: center;
        font-size: 1.5rem;
    }

    .controls button {
        border-radius: 3px;
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .container {
        gap: 25px;
        margin: 30px 0;
    }

    .child {
        width: 170px;
        height: 170px;
        border-radius: 15px;
    }

    .alert {
        font-size: 1.3rem;
        padding-top: 15px;
        text-shadow: 3px 5px 3px #0000009d;
    }

    @keyframes shrink {
        50% {
            opacity: 0;
            font-size: 2rem;
            text-align: center;
        }
        51% {
            opacity: 0;
            text-align: left;
        }

        100% {
            text-align: left;
            font-size: 2rem;
            opacity: 1;
        }
    }

    @keyframes shrink1 {
        50% {
            opacity: 0;
            font-size: 7rem;
            text-align: center;
        }
        51% {
            opacity: 0;
            text-align: left;
        }
        100% {
            text-align: left;
            font-size: 2rem;
            opacity: 1;
        }
    }

    footer {
        font-size: 1.2rem;
        padding-left: 10px;
    }
}
